@import "variable";

//Button Custom
.btn {
  background-color: $main-color;
  border-radius: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: $white-color;
  border: none;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  img {
    margin-right: 5px;
  }
}

.btn--reset {
  background: #223354;
  height: 40px;
  width: 100%;
}

.btn--cancel,
.btn--confirm {
  border-radius: 15px;
}

.btn--cancel {
  background: linear-gradient(90deg, #cccccc 0%, #e7e7e7 100%);
  color: #888888;
}

.btn--cancel:hover,
.btn--cancel:focus {
  background: linear-gradient(90deg, #cccccc 50%, #e7e7e7 100%) !important;
  color: #888888 !important;
}

.btn--confirm {
  background: linear-gradient(90deg, #e08d15 0%, #fea628 100%);
  box-shadow: 1px 5px 0 1px #6d440a;
  &:active {
    transform: translateY(5px);
  }
}

.btn--confirm:hover,
.btn--confirm:focus {
  background: linear-gradient(90deg, #e08d15 50%, #fea628 100%) !important;
}

.btn--reset:hover,
.btn--reset:focus {
  background: #152035 !important;
  color: $white-color;
  border: none;
}

.btn--create {
  background: linear-gradient(90deg, #fea628 0%, #f5b55b 100%);
  color: white;
  box-shadow: 1px 7px 0 0 #855c23;
  &:hover,
  &:focus {
    background: linear-gradient(90deg, #fea628 0%, #f5b55b 100%) !important;
  }
  &:active {
    transform: translateY(7px);
  }
  &:disabled {
    background: inherit !important;
  }
}

.btn--deny {
  background: linear-gradient(90deg, #ea5c5c 0%, #d68b8b 100%);
  color: white;
  box-shadow: 1px 7px 0 0 #853232;
  &:hover,
  &:focus {
    background: linear-gradient(90deg, #ea5c5c 0%, #d68b8b 100%) !important;
  }
  &:active {
    transform: translateY(7px);
  }
}

.btn--primary {
  background: linear-gradient(90deg, #1976d2 0%, #7caedf 100%);
  color: white;
  box-shadow: 1px 3px 0 0 #0e3e6e;
  &:hover,
  &:focus {
    background: linear-gradient(90deg, #1976d2 0%, #7caedf 100%) !important;
  }
  &:active {
    transform: translateY(3px);
  }
}

.btn--accept {
  background: linear-gradient(90deg, #4c8e43 0%, #62bd79 100%);
  color: white;
  box-shadow: 1px 7px 0 0 #165e0f;
  &:hover,
  &:focus {
    background: linear-gradient(90deg, #4c8e43 0%, #62bd79 100%) !important;
  }
  &:active {
    transform: translateY(7px);
  }
}

.btnForm {
  width: 100%;
}

.btn:hover,
.btn:focus {
  background: $main-color-hover;
  color: $white-color;
  border: none;
}

.btn--submit {
  width: 100%;
  height: 45px;
}

//Input Custom
.inputCustom {
  background-color: $white-color;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  display: flex;
  align-items: center;
  height: 36px;
  font-size: 14px;
  padding: 7px 9px;
  input {
    color: #3b3b3b;
    font-weight: 400;
    font-size: inherit;
    line-height: 20px;
    &::placeholder {
      color: #c4c4c4;
    }
  }
  .ant-input-prefix {
    margin-right: 10px;
  }
  &:hover {
    border-color: $main-color !important;
  }
  .ant-input-number-input-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    input {
      padding: 0;
    }
  }
  &:focus {
    border-color: $main-color !important;
    box-shadow: 0px 0px 0px 2px rgba(254, 166, 40, 0.2);
  }
  .ant-picker-focused {
    border-color: $main-color !important;
    box-shadow: 0px 0px 0px 2px rgba(254, 166, 40, 0.2) !important;
  }
  .ant-picker-suffix {
    margin-left: 0;
  }
}

//Switch
.switch-custom {
  .ant-switch-checked {
    background-color: #368797;
  }
}

//Modal
.modal-custom {
  .ant-modal-content {
    border-radius: 5px;
    .anticon {
      color: white;
      :hover {
        color: $main-color;
      }
    }
    .ant-modal-header {
      background-color: $neutral-header-color;
      border-radius: 5px 5px 0 0;
      .ant-modal-title {
        color: white;
        text-transform: uppercase;
      }
    }
    .ant-modal-body {
      max-height: 75vh;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        width: 4px;
      }
      &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }
      &::-webkit-scrollbar-thumb {
        background: $main-color-rgb;
        border-radius: 20px;
      }
    }
  }
}

.modal-preview-image {
  min-width: 80vw;
  max-width: 80vw;
  .anticon {
    color: white;
    :hover {
      color: $main-color;
    }
  }
  .ant-modal-body {
    min-height: 90vh;
    max-height: 90vh;
    padding: 0;
    overflow: hidden;
  }
}

.btn-tool-icon {
  cursor: pointer;
  padding: 10px;
  :hover {
    filter: brightness(0) saturate(100%) invert(72%) sepia(38%) saturate(2185%)
      hue-rotate(339deg) brightness(105%) contrast(99%);
  }
}

.slider-custom {
  width: 500px;
  margin-top: 30px;
}

.modal-delete-custom {
  .ant-modal-content {
    border-radius: 10px;
  }
  .ant-modal-confirm-btns {
    width: 100%;
    display: flex;
  }
  .ant-modal-confirm-body {
    display: flex;
    align-items: center;
    width: 100%;
    .ant-modal-confirm-title {
      width: 100%;
      margin-left: 10px;
    }
    .ant-modal-confirm-content {
      display: none;
    }
  }
  .ant-btn {
    width: 100%;
    border-radius: 7px;
  }
}

.modal-confirm-custom {
  .ant-modal-content {
    border-radius: 10px;
  }
  .ant-modal-body {
    padding: 40px 60px;
    font-size: 16px;
  }
  .anticon {
    color: #faad14;
    font-size: 24px;
  }
  .ant-modal-close-x {
    .anticon {
      color: black;
      font-size: 18px;
      &:hover {
        color: #faad14;
      }
    }
  }
}

.modal-download-class {
  .ant-modal-body {
    padding: 20px 0;
  }
}
