.totalImage {
  position: absolute;
  left: 10px;
  bottom: -20px;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  font-size: 12px;
  font-weight: 600;
  padding: 3px 10px;
  z-index: 5;
}
.removeButton {
  backdrop-filter: blur(10px);
  border-radius: 50%;
  padding: 0px 11.5px;
  font-size: 22px;
  position: absolute;
  top: 25px;
  right: 10px;
  cursor: pointer;
  font-weight: 700;
  -webkit-box-shadow: 0px 0px 9px 0px #fea628;
  box-shadow: 0px 0px 9px 0px #fea628;
  &:hover {
    background: linear-gradient(0deg, #e0c9a8 0%, #f5b55b 100%);
    color: white;
  }
}

.activeIcon {
  filter: brightness(0) saturate(100%) invert(72%) sepia(38%) saturate(2185%)
    hue-rotate(339deg) brightness(105%) contrast(99%);
}

.iconSwitch {
  width: 20px;
  height: 20px;
}
