.searchBar {
  background-color: #e8dede;
  border-radius: 20px;
  :global {
    fieldset {
      border: none !important;
    }
    .MuiOutlinedInput-root {
      padding: 0px 20px !important;
    }
  }
}